@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;

    --background: 217 70% 94%;
    --foreground: 217 92% 10%;

    --card: 0 0% 100%;
    --card-foreground: 217 92% 10%;

    --popover: 217 70% 96%;
    --popover-foreground: 217 92% 10%;

    --primary: 217 70% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217 50% 88%;
    --secondary-foreground: 217 92% 20%;

    --muted: 217 50% 92%;
    --muted-foreground: 217 50% 40%;

    --accent: 217 50% 90%;
    --accent-foreground: 217 92% 15%;

    --destructive: 348 86.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 217 50% 85%;
    --input: 217 50% 85%;
    --ring: 217 70% 60%;

    --chart-1: 217 70% 60%;
    --chart-2: 197 50% 45%;
    --chart-3: 217 40% 35%;
    --chart-4: 217 60% 55%;
    --chart-5: 217 70% 65%;
  }

  .dark {
    --background: 217 40% 15%;
    --foreground: 217 91.2% 95%;

    --card: 0 0% 100%;
    --card-foreground: 217 92% 10%;

    --popover: 217 40% 18%;
    --popover-foreground: 217 91.2% 95%;

    --primary: 217 70% 55%;
    --primary-foreground: 0 0% 10%;

    --secondary: 217 30% 20%;
    --secondary-foreground: 217 91.2% 75%;

    --muted: 217 30% 15%;
    --muted-foreground: 217 50% 60%;

    --accent: 217 30% 18%;
    --accent-foreground: 217 91.2% 80%;

    --destructive: 348 56.2% 35.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 217 30% 20%;
    --input: 217 30% 20%;
    --ring: 217 91.2% 75%;

    --chart-1: 220 60% 50%;
    --chart-2: 160 40% 45%;
    --chart-3: 217 35% 35%;
    --chart-4: 217 50% 45%;
    --chart-5: 217 60% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: #535bf2;
    &.dark {
      background-color: #213547;
    }
    @apply text-foreground;
  }
}
